---
import PageLayout from "@/layouts/Base"
import Subscribe from "@/components/Subscribe"
---

<PageLayout meta={{
  title: "Newsletter",
  canonicalURL: "https://javascriptjam.com/newsletter"
}}>
	<section>
		<h1>Newsletter Archive</h1>
    <h3>The podcast & community for frontend and full-stack developers</h3>
    <p>A weekly summary of the best and most important articles, podcasts, and videos about JavaScript, web development, and performance.</p>
    <Subscribe />
    <h3>Read past issues</h3>
    <p>Component with Newsletter articles:</p>
	</section>
</PageLayout>