---
import PageLayout from "@/layouts/Base"
import Subscribe from "@/components/Subscribe"
---

<PageLayout meta={{
	title: "Videos",
	canonicalURL: "https://javascriptjam.com/videos"
}}>
	<section>
		<h1>Videos</h1>
    <h3>The show for frontend and full-stack developers</h3>
    <Subscribe />
    <h3>Watch past videos</h3>
		<p>Component hitting YouTube API to fetch episodes from YouTube account:</p>
	</section>
</PageLayout>