<div class="head">
  <nav class="container">
    <div class="head__logo">
      <a aria-label="logo" class="nolink color-text" href="https://www.javascriptjam.com">
        <img class="logo" src="https://javascriptjam.com/content/images/2023/02/Group-13.png">
      </a>
    </div>

    <div class="head__nav fssmall">
      <div class="nav-wrapper">
        <span class="nav-trigger">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path d="M15.707 13.293 13 10.586A6.95 6.95 0 0 0 14 7c0-3.86-3.141-7-7-7S0 3.14 0 7s3.141 7 7 7a6.937 6.937 0 0 0 3.586-1l2.707 2.707a.997.997 0 0 0 1.414 0l1-1a.999.999 0 0 0 0-1.414zM7 12a5 5 0 1 1 .001-10.001A5 5 0 0 1 7 12z" fill="var(--color-default)"></path></svg>
        </span>

        <ul class="nav">
          <li class="nav-home nav-current">
            <a href="/">Home</a>
          </li>
          <li class="nav-about">
            <a href="/about/">About</a>
          </li>
          <li class="nav-newsletter">
            <a href="/newsletter/">Newsletter</a>
          </li>
          <li class="nav-videos">
            <a href="/videos/">Videos</a>
          </li>
          <li class="nav-composability-summit">
            <a href="/composability/">Composability Summit</a>
          </li>
          <li class="nav-testimonials">
            <a href="/testimonials/">Testimonials</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>