<section>
  <h2 class="mb1 fs28">💌 Subscribe to JavaScript Jam</h2>
  <p>Join a growing community of developers. Every monday we share valuable insight, tips, and news surrounding JavaScript and modern web development. We are also live on Twitter Spaces every Wednesday at 12pm PST.</p>
  <div class="mt2 mb3">
    <form data-members-form="subscribe" style="max-width: 480px">
      <div class="form-body">
        <div class="form-flex">
          <input data-members-email="" type="email" required="true" placeholder="Email address">
          <button type="submit">
            <span class="button-content">Subscribe</span>
            <span class="button-loader">Submitting...</span>
          </button>
          <p data-members-error="" style="color: red" class="mt0"></p>
        </div>
      </div>
      <div class="success-message">
        <p class="mt0 mb0"><b>Thank you for subscribing!</b></p>
        <p>Please check your inbox for a link to confirm your email address.</p>
      </div>
    </form>
  </div>
</section>